* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(34, 20, 150);
    background: linear-gradient(0deg, rgba(34, 20, 150, 1) 0%, rgba(40, 71, 168, 1) 48%, rgba(40, 73, 169, 1) 50%, rgba(45, 125, 187, 1) 100%);
}

header {
    background-color: #e9e6e2;
}

#corp {
    background-color: blue;
    border-radius: 10px 0 0 10px;
    color: white;
    height: 5%;
    margin: 5px 81px;
    text-align: left;
    width: 10%;
}

.icon {
    height: 33%;
    width: 3%;
}

nav {
    margin-left: 38em;
}

.ingreso {
    margin: 16px;
    width: 70%;
    height: 2rem;
    box-sizing: border-box;
}

.sing {
    background: rgb(18, 18, 18);
    color: white;
    margin: 1em;
}

.form-floating a {
    margin: 0 1.2rem;
}

.link {
    background-color: #d4dbe3;
    line-height: 60px;
    margin-top: 15px;
    padding-left: 15px;
}

.link p {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.bloque a,
label {
    display: block;
}

.bloque label {
    margin: 0 .3rem;
}

.bloque input {
    margin: 2.5rem 1rem 0 1rem;
}

.title,
.mensaje {
    background: rgb(34, 20, 150);
    background: linear-gradient(0deg, rgba(34, 20, 150, 1) 0%, rgba(40, 71, 168, 1) 48%, rgba(40, 73, 169, 1) 50%, rgba(45, 125, 187, 1) 100%);
    color: white;
    text-align: center;
}

.title p {
    margin-bottom: 0rem;
}

.mensaje {
    margin-top: .8rem;
    border: 1px solid white;
    box-sizing: border-box;
}

.card {
    border-radius: 0;
    border: 4px solid gray;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .imagenes {
    width: 120%;
}


/* footer */

footer {
    background-color: #d4dbe3;
}

footer .row ul li {
    display: inline-block;
}

footer .row p {
    text-align: right;
}

span {
    color: green;
}